# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!app/debug.keystore
*.jks
keystore.properties
PLAY_UPLOAD_KEY_BACKUP.txt

# Bundle artifacts
*.jsbundle
